// Add all variables here

// Colors used
$selected-menu: #46DB6E;
$Side-menu: #34A853;
$white: #fff;
$red: #DF142D;
$hero-header: #222A49;
$card-header: #475073;
$light-purple: #4D44B5;
$card-body-text: #596181;
$card-background: #A6A6A6;
<<<<<<< HEAD
=======
$shade-blue: #C1BBEB;
>>>>>>> b42df85 (library done)
$Body-text: #fff;
$background-gradient: linear-gradient(90deg, #217A39, #023E12);
$bg: #F8F8F8;
$green-button: #34A853;
<<<<<<< HEAD
$highlighted-card: #FFD8D8;
=======
$highlighted-card: #FFD8D8;
$yellow-ish: #F9C975;
$header-color: #282E44;
>>>>>>> b42df85 (library done)
