/* ---------- ROOT VARIABLES --------- */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;500;600;700;800&display=swap');

:root {
    --color-primary: #34A853;
    --color-white: #fff;
    --color-light: #e0e0e0;
    --body-text-color: #212121;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    
    --btn-border-radius: 10px;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --btn-padding: 0.5rem 2rem; 
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --Outfit-font: 'Outfit';

    --box-shadow: 0 2rem 3rem var(--color-light);
    --btn-shadow: 0px 20px 40px rgba(89, 86, 233, 0.2);
}


* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'poppins';
}

::placeholder {
    font-family: var(--Outfit-font);
}


/* LOADING ANIMATION */


.loader {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader .contain>div {
    height: 25px;
    width: 25px;
    border: 4px solid #45474b;
    border-top-color: #fff;
    
    margin: auto;
    
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

 .danger {
     color: var(--color-danger);
 }

 .success {
     color: var(--color-success);
 }

 .warning {
     color: var(--color-warning);
 }


/* WELCOME PAGE STYLES */
body {
    width: 100vw;
}

 .danger {
    color: var(--color-danger);
 }
 .success {
    color: var(--color-success);
 }
 .warning {
    color: var(--color-warning);
 }
.content {
    display: none;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10rem;
    overflow: hidden;
    
}
.content img {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -3;
    height: 100vh;
    overflow: hidden;
}

.content .welcome-message {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

h1 {
    font-size: 45px;
    font-weight: 700;
}

h3 {
    font-size: 32px;
    font-weight: 500;
}

p {
    color: var(--body-text-color);
}
.content .welcome-message .wlcm-msg {
    font-size: 20px;
    color: #212121;
    width: 70%;
    text-align: center;
}

.content .welcome-message .buttons {
    display: flex;
    gap: 1.5rem;
    margin-top: 3rem;
}

.content .welcome-message .buttons .login {
    background: var(--color-primary);
    color: var(--color-white);
    box-shadow: var(--btn-shadow);
    padding: var(--btn-padding);
    border-radius: var(--btn-border-radius);
    transition: all 300ms ease;

}

.content .welcome-message .buttons .signup {
    background: var(--color-light);
    color: var(--body-text-color);
    padding: var(--btn-padding);
    box-shadow: var(--btn-shadow);
    border-radius: var(--btn-border-radius);
    transition: all 300ms ease;
}

.content .welcome-message .buttons .signup:hover {
    box-shadow: none;
}

.content .welcome-message .buttons .login:hover {
    box-shadow: none;
}


/* ======== LOGIN SCREEN STYLES ======== */
.login_screen {
    height: 100vh;
    width: 100vw;
}

.login_screen .green_milk {
    position: absolute;
    bottom: 0;
    left: 0;
}

.login_screen .grey {
    position: absolute;
    right: 0;
    height: 100vh;
}

.login_screen .login_container .top{
    margin-top: 6rem;
}

.login_screen .login_container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.login_screen .login_container .top p {
    font-size: 25px;
}

.login_screen .login_container .top {
    margin-left: 10rem;
}

.login_screen .login_container .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.login_screen .login_container .bottom form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.login_screen .login_container .bottom .input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.login_screen .login_container .bottom .input input{
    width: 382px;
    height: 3rem;
    border-radius: var(--btn-border-radius);
    border: 1px solid var(--color-primary);
    transition: all 300ms ease;
    padding-left: 1.5rem;
}


.login_screen .login_container .bottom .action .login {
    background: var(--color-primary);
    color: var(--color-white);
    padding: 0.8rem 10.5rem;
    border-radius: var(--btn-border-radius);
    transition: all 300ms ease;
}
.login_screen .login_container .bottom .action .login:hover {
    background: var(--color-success);
}

.login_screen .login_container .bottom .input input:focus {
    
    border: 2px solid var(--color-primary);
}


.login_screen .login_container .top .header a .back-btn {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: var(--color-primary);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_screen .login_container .top .header {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.login_screen .login_container .top p {
    margin-left: 3.3rem;
    width: 400px;
}