/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Open Sans";
}

body {
  background: linear-gradient(90deg, #217A39, #023E12);
}

nav {
  width: 80px;
  height: 100vh;
  background: #34A853;
  transition: 0.2s linear;
  overflow: hidden;
}
nav:hover {
  width: 290px;
}
nav:hover nav .navbar .menu-list p {
  display: none;
}
nav .wrap {
  width: 100%;
}
nav .wrap .navbar {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
}
nav .wrap .navbar .user {
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
nav .wrap .navbar .user img {
  height: 50px;
  transition: 0.2s linear;
}
nav .wrap .navbar .user span {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: 0.2s linear;
}
nav .wrap .navbar .user p {
  color: #fff;
  font-size: 12px;
  transition: 0.2s linear;
}
nav .wrap .navbar .user .nai {
  visibility: hidden;
}
nav .wrap .navbar .top-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .wrap .navbar .top-nav .logo {
  display: flex;
  justify-content: center;
  align-content: space-between;
  margin-right: 130px;
  margin-left: 0.7rem;
  margin-top: 1rem;
}
nav .wrap .navbar .top-nav i {
  color: white;
  margin-top: 1rem;
  margin-right: 1rem;
}
nav .wrap .navbar .top-nav .toggle-icon {
  color: white;
}
nav .wrap .navbar .top-nav img {
  height: 50px;
  transition: 0.2s linear;
}
nav .wrap .navbar .menu-list {
  position: absolute;
  top: 25vh;
  display: flex;
  flex-direction: column;
  width: 290px;
}
nav .wrap .navbar .menu-list .active {
  background: #46DB6E;
}
nav .wrap .navbar .menu-list a {
  display: flex;
  align-items: baseline;
  padding: 0.2rem;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  font-weight: 500;
}
nav .wrap .navbar .menu-list a:hover {
  background: #46DB6E;
}
nav .wrap .navbar .menu-list a i {
  padding-top: 0.8rem;
  margin-left: 1.6rem;
}
nav .wrap .navbar .menu-list a p {
  margin-left: 1rem;
}
nav .wrap .navbar .menu-list a .nai {
  visibility: hidden;
}
nav .wrap .logout {
  position: absolute;
  margin-top: 90vh;
}
nav .wrap .logout a {
  display: flex;
  align-items: baseline;
  color: #fff;
  width: 290px;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  transition: 0.5s ease-in-out;
}
nav .wrap .logout a i {
  margin-left: 1.5rem;
  padding-top: 1rem;
}
nav .wrap .logout a:hover {
  background: #b83018;
}
nav .wrap .logout a .nai {
  visibility: hidden;
}
nav .wrap .logout p {
  margin-left: 1rem;
}/*# sourceMappingURL=main.css.map */