@import './reset';
@import './variables';
@import './global';
@import './partials';
@import './mixins';


@mixin flex() {

}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

body {
    background: linear-gradient(90deg, #217A39, #023E12);;
}

nav {
    width: 80px;
    height: 100vh;
    background: #34A853;
    transition: 0.2s linear;
    overflow: hidden;

    &:hover {
        width: 290px;
        nav {
            .navbar{
                .menu-list {
                    p {
                        display: none;
                    }
                }
            } 
        }

    }

    .navbar {
            padding: 1rem;
            position: relative;
            flex-direction: column;
            align-items: flex-start;
            
            .user {
                margin-top: 40px;
                img{
                    height: 50px;
                }
            }
            .top-nav {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                .logo {
                    margin-right: 130px;
                }

                i {
                    color: white;
                }

                .toggle-icon {
                    color: white;
                }

                img {
                    height: 50px;
                }
            }

            .menu-list {
                margin-top: 4rem;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                width: 100%;

                a {

                    &:hover {
                        background: #46DB6E;
                        border-radius: 10px;
                    }

                    i {
                        margin-right: 0px;
                    }

            
                    display: flex;
                    align-items: center;
                    padding: 1rem;
                    color: #fff;
                    text-decoration: none;
                    overflow: hidden;
                    font-weight: 500;
                }
            }
     }

     .logout {
        margin-top: 150px;
        margin-left: 15px;
        a {
            color: #fff;
            text-decoration: none;
            font-weight: 500;

            &:hover {

            }
        }
}


}