@import './reset';
@import './variables';
@import './global';
@import './partials';
@import './mixins';


@mixin flex() {

}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

body {
    background: $background-gradient;
    display: flex;
    
    .left-gap {
            height: 100vh;
            width: 180px;
            transition: 0.2s linear;
        }
    
        nav {
            width: 80px;
            height: 100vh;
            background: #34A853;
            transition: 0.2s linear;
            overflow: hidden;
            position: fixed;
            left: 60px;
    
            &:hover {
                width: 290px;
    
                nav {
                    .navbar {
                        .menu-list {
                            p {
                                display: none;
                            }
                        }
                    }
                }
    
            }
    
            .wrap {
                width: 100%;
    
                .navbar {
                    // padding: 1rem;
                    position: relative;
                    flex-direction: column;
                    align-items: flex-start;
    
                    .user {
                        padding: 1rem;
                        margin-top: 1rem;
                        display: flex;
                        flex-direction: column;
    
                        img {
                            height: 50px;
                            transition: 0.2s linear;
                        }
    
                        span {
                            color: $Body-text;
                            font-size: 16px;
                            font-weight: 500;
                            transition: 0.2s linear;
                        }
    
                        p {
                            color: $Body-text;
                            font-size: 12px;
                            transition: 0.2s linear;
                        }
    
                        .nai {
                            visibility: hidden;
                        }
    
                    }
    
    
    
    
                    .top-nav {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
    
                        .logo {
                            display: flex;
                            justify-content: center;
                            align-content: space-between;
                            margin-right: 130px;
                            margin-left: 0.7rem;
                            margin-top: 1rem;
    
                        }
    
                        i {
                            color: $Body-text;
                            margin-top: 1rem;
                            margin-right: 1rem;
                        }
    
    
                        .toggle-icon {
                            color: $Body-text;
                        }
    
                        img {
                            height: 50px;
                            transition: 0.2s linear;
                        }
                    }
    
                    .menu-list {
                        position: absolute;
                        top: 25vh;
                        display: flex;
                        flex-direction: column;
                        width: 290px;
    
                        .active {
                            background: $selected-menu;
                        }
    
                        a {
    
    
                            &:hover {
                                background: $selected-menu;
                            }
    
                            i {
                                padding-top: 0.8rem;
                                margin-left: 1.6rem;
                            }
    
                            p {
                                margin-left: 1rem;
                            }
    
                            .nai {
                                visibility: hidden;
    
                            }
    
                            display: flex;
                            align-items: baseline;
                            padding: 0.2rem;
                            color: $Body-text;
                            text-decoration: none;
                            overflow: hidden;
                            font-weight: 500;
                        }
                    }
                }
    
                .logout {
                    position: absolute;
                    margin-top: 90vh;
    
                    a {
                        display: flex;
                        align-items: baseline;
                        color: $Body-text;
                        width: 290px;
                        text-decoration: none;
                        font-weight: 500;
                        font-size: 18px;
                        transition: 0.5s ease-in-out;
    
                        i {
                            margin-left: 1.5rem;
                            padding-top: 1rem;
                        }
    
                        &:hover {
                            background: $red;
                        }
    
                        .nai {
                            visibility: hidden;
    
    
                        }
    
                        &:hover {}
                    }
    
                    p {
                        margin-left: 1rem;
                    }
                }
            }
    
    
        }
    .main {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        .content {
            margin-top: 2rem;

            .top {
                background-color: $white;
                display: flex;
                flex-direction: column;
                .first-col {
                    margin: 1rem 3rem 0 3rem;
                    display: flex;
                    justify-content: space-between;

                    .wlc-btn{
                        padding: 0.5rem;
                        color: $Body-text;
                        background-color: $hero-header;
                    }
                    img {
                        height: 50px;
                    }
                }
                .second-col {
                    margin: 0.5rem 3rem 0.5rem 3rem;
                    overflow: hidden;
                    height: 200px;
                    img {
                        width: 100%;
                        height: 300px;
                        object-fit: cover;
                        
                    }
                }
                .third-col {
                    margin: 0.5rem 3rem 1rem 3rem;
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    justify-content: center;
                    .box-card {
                        padding: 2rem;
                        height: 156px;
                        width: 232px;
                        border: 2px solid #A6A6A6;
                        background-color: $card-background;

                        h1 {
                            color: $card-header;
                        }
                        p {
                            color: $card-body-text;
                        }
                    }
                }
            }

            .buttom{
                margin-top: 2rem;
                .head {
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;
                    justify-content: space-between;
                    h3 {
                        color: $white;
                    }
                    p{
                        a{
                            text-decoration: none;
                            color: $white;
                        }
                    }
                }
                .content {
                    display: flex;
                    flex-direction: row;
                    gap: 25px;
                    margin-top: 0;
                    .school-card {
                        width: 422px;
                        height: 180px;
                        background-color: $white;
                        overflow: hidden;

                        .container {
                            padding-top: 0.7rem;
                            display: flex;
                            flex-direction: row;

                            img {
                                
                                height: 190px;
                            }
                            .info {

                                .notice {
                                    margin-bottom: 0;
                                    text-transform: uppercase;
                                    font-size: 12px;
                                    color: $card-body-text;
                                }
                                h2 {
                                    color:  $card-header;
                                    font-size: 20px;
                                    text-transform: uppercase;
                                }
                                .details {
                                    font-size: 14px;
                                    color: $card-body-text;
                                }
                                button {
                                    margin-left: 68%;
                                    padding: 0.2rem 0.8rem;
                                    background-color: #FDF1F2;
                                    border: none;
                                    color: $card-body-text;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

