/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Open Sans";
}

body {
  background: linear-gradient(90deg, #217A39, #023E12);
  display: flex;
}
body .left-gap {
  height: 100vh;
  width: 180px;
  transition: 0.2s linear;
}
body nav {
  width: 80px;
  height: 100vh;
  background: #34A853;
  transition: 0.2s linear;
  overflow: hidden;
  position: fixed;
  left: 60px;
}
body nav:hover {
  width: 290px;
}
body nav:hover nav .navbar .menu-list p {
  display: none;
}
body nav .wrap {
  width: 100%;
}
body nav .wrap .navbar {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
}
body nav .wrap .navbar .user {
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
body nav .wrap .navbar .user img {
  height: 50px;
  transition: 0.2s linear;
}
body nav .wrap .navbar .user span {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: 0.2s linear;
}
body nav .wrap .navbar .user p {
  color: #fff;
  font-size: 12px;
  transition: 0.2s linear;
}
body nav .wrap .navbar .user .nai {
  visibility: hidden;
}
body nav .wrap .navbar .top-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body nav .wrap .navbar .top-nav .logo {
  display: flex;
  justify-content: center;
  align-content: space-between;
  margin-right: 130px;
  margin-left: 0.7rem;
  margin-top: 1rem;
}
body nav .wrap .navbar .top-nav i {
  color: #fff;
  margin-top: 1rem;
  margin-right: 1rem;
}
body nav .wrap .navbar .top-nav .toggle-icon {
  color: #fff;
}
body nav .wrap .navbar .top-nav img {
  height: 50px;
  transition: 0.2s linear;
}
body nav .wrap .navbar .menu-list {
  position: absolute;
  top: 25vh;
  display: flex;
  flex-direction: column;
  width: 290px;
}
body nav .wrap .navbar .menu-list .active {
  background: #46DB6E;
}
body nav .wrap .navbar .menu-list a {
  display: flex;
  align-items: baseline;
  padding: 0.2rem;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  font-weight: 500;
}
body nav .wrap .navbar .menu-list a:hover {
  background: #46DB6E;
}
body nav .wrap .navbar .menu-list a i {
  padding-top: 0.8rem;
  margin-left: 1.6rem;
}
body nav .wrap .navbar .menu-list a p {
  margin-left: 1rem;
}
body nav .wrap .navbar .menu-list a .nai {
  visibility: hidden;
}
body nav .wrap .logout {
  position: absolute;
  margin-top: 90vh;
}
body nav .wrap .logout a {
  display: flex;
  align-items: baseline;
  color: #fff;
  width: 290px;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  transition: 0.5s ease-in-out;
}
body nav .wrap .logout a i {
  margin-left: 1.5rem;
  padding-top: 1rem;
}
body nav .wrap .logout a:hover {
  background: #DF142D;
}
body nav .wrap .logout a .nai {
  visibility: hidden;
}
body nav .wrap .logout p {
  margin-left: 1rem;
}
body .main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
body .main .content {
  margin-top: 2rem;
}
body .main .content .top {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
body .main .content .top .first-col {
  margin: 1rem 3rem 0 3rem;
  display: flex;
  justify-content: space-between;
}
body .main .content .top .first-col .wlc-btn {
  padding: 0.2rem 0.5rem;
  color: #fff;
  background-color: #222A49;
}
body .main .content .top .first-col img {
  height: 50px;
}
body .main .content .top .second-col {
  margin: 0.5rem 3rem 0.5rem 3rem;
  overflow: hidden;
  height: 200px;
}
body .main .content .top .second-col img {
  width: 100%;
  height: 190px;
  -o-object-fit: cover;
     object-fit: cover;
}
body .main .content .top .third-col {
  margin: 0.5rem 3rem 1rem 3rem;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}
body .main .content .top .third-col .box-card {
  padding: 2rem;
  height: 156px;
  width: 232px;
  border: 2px solid #A6A6A6;
  background-color: #A6A6A6;
}
body .main .content .top .third-col .box-card h1 {
  color: #475073;
}
body .main .content .top .third-col .box-card p {
  color: #596181;
}
body .main .content .buttom {
  margin-top: 2rem;
}
body .main .content .buttom .head {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
body .main .content .buttom .head h3 {
  color: #fff;
}
body .main .content .buttom .head p a {
  text-decoration: none;
  color: #fff;
}
body .main .content .buttom .content {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-top: 0;
}
body .main .content .buttom .content .school-card {
  width: 422px;
  height: 180px;
  background-color: #fff;
  overflow: hidden;
}
body .main .content .buttom .content .school-card .container {
  padding-top: 0.7rem;
  display: flex;
  flex-direction: row;
}
body .main .content .buttom .content .school-card .container img {
  height: 190px;
}
body .main .content .buttom .content .school-card .container .info .notice {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 12px;
  color: #596181;
}
body .main .content .buttom .content .school-card .container .info h2 {
  color: #475073;
  font-size: 20px;
  text-transform: uppercase;
}
body .main .content .buttom .content .school-card .container .info .details {
  font-size: 14px;
  color: #596181;
}
body .main .content .buttom .content .school-card .container .info button {
  margin-left: 68%;
  padding: 0.2rem 0.8rem;
  background-color: #FDF1F2;
  border: none;
  color: #596181;
}/*# sourceMappingURL=main.css.map */